<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.simuhunluo.salary.dao.mapper.UsersMapper" >
  <resultMap id="BaseResultMap" type="top.simuhunluo.salary.dao.model.UsersKey" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <id column="openid" property="openid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="top.simuhunluo.salary.dao.model.UsersWithBLOBs" extends="BaseResultMap" >
    <result column="marklist" property="marklist" jdbcType="LONGVARCHAR" />
    <result column="commentids" property="commentids" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, openid
  </sql>
  <sql id="Blob_Column_List" >
    marklist, commentids
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="top.simuhunluo.salary.dao.model.UsersKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from users
    where uid = #{uid,jdbcType=INTEGER}
      and openid = #{openid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="top.simuhunluo.salary.dao.model.UsersKey" >
    delete from users
    where uid = #{uid,jdbcType=INTEGER}
      and openid = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.simuhunluo.salary.dao.model.UsersWithBLOBs" >
    insert into users (uid, openid, marklist, 
      commentids)
    values (#{uid,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{marklist,jdbcType=LONGVARCHAR}, 
      #{commentids,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.simuhunluo.salary.dao.model.UsersWithBLOBs" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="marklist != null" >
        marklist,
      </if>
      <if test="commentids != null" >
        commentids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="marklist != null" >
        #{marklist,jdbcType=LONGVARCHAR},
      </if>
      <if test="commentids != null" >
        #{commentids,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.simuhunluo.salary.dao.model.UsersWithBLOBs" >
    update users
    <set >
      <if test="marklist != null" >
        marklist = #{marklist,jdbcType=LONGVARCHAR},
      </if>
      <if test="commentids != null" >
        commentids = #{commentids,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
      and openid = #{openid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="top.simuhunluo.salary.dao.model.UsersWithBLOBs" >
    update users
    set marklist = #{marklist,jdbcType=LONGVARCHAR},
      commentids = #{commentids,jdbcType=LONGVARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
      and openid = #{openid,jdbcType=VARCHAR}
  </update>
</mapper>